.photo-album-cover {
    height: var(--album-height);
    width: var(--album-width);
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: 50%;
}

.photos.filter {
    text-decoration: none;
    width: var(--album-width);
    aspect-ratio: 5/4;
    position: absolute;
    transition: all 0s;
    background-color: #0000;
    opacity: 0 !important;
}

.photos.filter:hover {
    transition: all 0.25s ease-in-out;
    opacity: 1 !important;
}