@import url(../assets/css-assets/reset.css);

.photos {
    color: rgb(46, 127, 164)!important;
}

.container {
    display: grid;
}

@media (max-width: 500px) { 
    .container { grid-template-columns: auto; }
    .filter { width: 100%; background-color: #0000; }
    :root { --album-height : 90vw; --album-width : 100vw; }
}

@media (min-width: 501px) {
    .container { grid-template-columns: auto auto; }
    .filter { width: 50%; background-color: #0004; }
    :root { --album-height : 45vw; --album-width : 50vw; }
}
