.photo-album-cover {
    height: var(--album-height);
    width: var(--album-width);
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: 50%;
}

.photos.filter {
    text-decoration: none;
    width: var(--album-width);
    aspect-ratio: 5/4;
    position: absolute;
    transition: all 0s;
    background-color: #0000;
    opacity: 0 !important;
}

.photos.filter:hover {
    transition: all 0.25s ease-in-out;
    opacity: 1 !important;
}

.photos .filter.smartphone-hover {
    transition: all 0.25s ease-in-out;
    opacity: 1 !important;
}

.photo-album-name {
    padding: 2% 2.5%;
    font-family: "Oswald", sans-serif;
    font-size: 0.7rem;
    /* padding-bottom: 2rem; */
    color: #fdf8f1;
    width: var(--album-width);
    aspect-ratio: 5/4;
    background-color: #0004;
}

.photos p {
    color: #aca59c;
}

.photos h1 {
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
}

@media (min-width: 501px) {
    .photos p {
        max-width: calc(var(--album-width) * 0.5) !important;
    }
}