@import url(../assets/css-assets/reset.css);

.container {
    display: grid;
}

@media screen and (orientation: portrait) { 
    .container { grid-template-columns: auto; }
    .filter { width: 100%; }
    :root { --album-height : 60vh; }
}

@media screen and (orientation: landscape) {
    .container { grid-template-columns: auto auto; }
    .filter { width: 50%; }
    :root { --album-height : 80vh; }
}

.photo-album-cover {
    height: var(--album-height);
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: 50%;
}

.filter {
    height: var(--album-height);
    background-color: #0004;
    position: absolute;
    transition: all 0s;
}

.filter:hover {
    transition: all 0.25s ease-in-out;
    background-color: #0000;

    cursor: pointer;
}

.photo-album-name {
    z-index: 99;    /* The header Z-index is set at 100 */

    background-color: #0009;
    width: 100%;
    height: fit-content;

    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.07rem;
    font-size: 0.65rem;
    color: #e1d5c4;
}

.photo-album-name h1 {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
}

.photo-album-cover .photo-album-name h1 {
    padding: 0 2rem;
}

/* Demander au prof comment automatiser ça */
#one { background-image: url(./assets/miniatures/photos_argentiques.jpg); }
#two { background-image: url(./assets/miniatures/photos_de_projets.jpg); }
#three { background-image: url(./assets/miniatures/série_3_name.jpg); }
#four { background-image: url(./assets/miniatures/série_4_name.jpg); }
