@import url(../../assets/css-assets/reset.css);

section.welcome {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    background-image: url(../../assets/images/perrine_backlit_mcdo-cup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
}

.welcome .left-content {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DAC5A6;
    text-transform: uppercase;
    font-family: Rubik Mono One;
    font-size: 2rem;
} 
