@import url(../../assets/css-assets/reset.css);

.header {
    position:fixed;
    border: none;
    width: 100vw;
}

section.page {
    background-image: url(../../assets/images/home-page-image.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

section.welcome {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    font-family: Rubik Mono One;
}

section.welcome .apropo {
    width: 100%;
    position: absolute;
    bottom: 0;
    /* left: 2.5%; */
    color: var(--header-text-color);
    text-align: center;
}

.welcome .left-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--header-text-color);
    text-transform: uppercase;
    cursor: default;
}

.about {
    padding: 2.5%;
    width: 100vw;
    font-family: Rubik Mono One;
    color: var(--header-text-color);
}

.arrow {
    font-family: 'Potta One';
}

@media (max-width: 500px) {
    .welcome .left-content {
        width: 80vw;
        font-size: 1rem;
        justify-content: center;
        padding-top: 4rem;
    }
    .page { background-position: 57% 50%; }
}

@media (min-width: 501px) and (max-width: 1100px) {
    .welcome .left-content {
        width: 50vw;
        justify-content: center;
        font-size: 1.5rem;
    }
    .page { background-position: center; }
}

@media (min-width: 1101px) {
    .welcome .left-content {
        width: 50vw;
        justify-content: center;
        font-size: 1.5rem;
    }
    .page { background-position: 0% 50%; }
}

@media (min-width: 501px) and (orientation: portrait) {
    .page { background-position: 50% 50%; }
}