.modelage h2 {
    color: #fff7 !important;
}

.project-image {
    margin-bottom: var(--gap-between-projects);
}

.beaux-arts .filter {
    width: var(--image-width) !important;
}

@media (max-width: 500px) {
    .beaux-arts h2 {
        font-size: 1rem;
    }

    .beaux-arts h1 {
        display: none;
    }
}