.photos.photo-album-cover {
    width: var(--image-width);
    aspect-ratio: 5/4;
    margin-bottom: var(--gap-between-projects); 
}

.photos .filter {
    width: var(--image-width);
    aspect-ratio: 5/4;
    background-color: #0004
}

