.project.videos {
    width: 0px;
    margin-bottom: var(--gap-between-projects);
}

.videos .project-second-image {
    width: var(--image-width);
    aspect-ratio: 5/4;
}

.videos .project-image {
    width: var(--image-width);
    aspect-ratio: 5/4;
}