.project.videos {
    width: 0px;
    padding-bottom: calc(( var(--image-width) * 0.8) + var(--gap-between-projects)) !important;
}

.videos .project-second-image {
    width: var(--image-width);
    aspect-ratio: 5/4;
}

.videos .project-image {
    width: var(--image-width);
    aspect-ratio: 5/4;
}