@import url(../../assets/css-assets/reset.css);

body body {
    background-color: #fff;
}

.grid {
    background-color: #000;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item { float: left; }

@media (max-width: 500px) {
    .grid-item { width: 50vw; }
}

@media (min-width: 501px) and (max-width: 1100px) {
    .grid-item { width: 33.333333333333333vw; }
}

@media (min-width: 1101px) and (max-width: 1800px) {
    .grid-item { width: 25vw; }
}

@media (min-width: 1801px) {
    .grid-item { width: 20vw; }
}