@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Josefin+Sans:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap')

/*
font-family: Rubik Mono One;
font-family: 'Kay Pho Du', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Ubuntu Mono', monospace;

font-family: 'Archivo Black', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Teko', sans-serif;

font-family: Switzer, sans-serif; <= à regarder
font-family: Potta One;
*/