@import url(./fonts.css);
@import url(./responsive.css);

/* Reset CSS */
body,
body * {
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    scrollbar-gutter: 0px;
}

*::-webkit-scrollbar {
    display: none;
}
