@import url(../../assets/css-assets/reset.css);

@media (max-width: 500px) { 
    .filter { width: 100%; background-color: #0000; }
    :root { --album-height : 90vw; --album-width : 100vw; }
}

@media (min-width: 501px) {
    .filter { width: 50%; background-color: #0004; }
    :root { --album-height : 45vw; --album-width : 50vw; }
}

.headerDiv .dessins { color: #377d19 !important; }

html {
    background-color: #cccccc;
}

.container {
    display: grid;
    padding-top: 8vw;
}

.maree-basse {
    width: 100vw !important;
    height: 20vw !important;
}

.maree-basse .filter {
    width: 100vw !important;
    height: 20vw !important;
}

.project-name h1 {
    font-size: 1.2rem;
}