.project-image {
    width: var(--album-width);
    aspect-ratio: 5/4;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.beaux-arts .filter {
    text-decoration: none;
    width: var(--album-width);
    aspect-ratio: 5/4;
    position: absolute;
    transition: all 0s;
    background-color: #0000;
    opacity: 0;
}

.beaux-arts .filter:hover {
    transition: all 0.25s ease-in-out;
    opacity: 1;
}

.beaux-arts .filter.smartphone-hover {
    transition: all 0.25s ease-in-out;
    opacity: 1;
}

.beaux-arts .project-name {
    padding: 2% 2.5%;
    font-family: "Oswald", sans-serif;
    font-size: 0.7rem;
    padding-bottom: 2rem;
    color: #fdf8f1;
    width: var(--album-width);
    aspect-ratio: 5/4;
    background-color: #0004;
}

.beaux-arts p {
    color: #aca59c;
}

.beaux-arts h1 {
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
}

@media (min-width: 501px) {
    .beaux-arts p {
        max-width: calc(var(--album-width) * 0.5) !important;
    }
}