.project-image {
    width: var(--album-width);
    aspect-ratio: 5/4;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.beaux-arts .filter {
    text-decoration: none;
    width: var(--album-width);
    aspect-ratio: 5/4;
    position: absolute;
    transition: all 0s;
    background-color: #0000;
    opacity: 0;
}

.beaux-arts .filter:hover {
    transition: all 0.25s ease-in-out;
    opacity: 1;
}