.project-image {
    width: var(--album-width);
    height: var(--album-height);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.beaux-arts .project-name {
    z-index: 99;
    background-color: #0009;
    width: 100%;
    /* height: fit-content; */

    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.07rem;
    /* font-size: 0.65rem; */
    color: #e1d5c4;
}

.beaux-arts .project-name h1 {
    padding: 0 2rem;
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
}

.beaux-arts .filter {
    height: var(--album-height);
    
    position: absolute;
    transition: all 0s;
}

.beaux-arts .filter:hover {
    transition: all 0.25s ease-in-out;
    background-color: #0000;

    cursor: pointer;
}