@import url(../../assets/css-assets/reset.css);

@media (max-width: 500px) {
    .container {
        grid-template-columns: auto;
    }
    .filter {
        width: 100%;
        background-color: #0000;
    }
    :root {
        --album-width: 100vw;
    }
}

@media (min-width: 501px) {
    .container {
        grid-template-columns: repeat(2, auto);
    }
    .filter {
        width: 50%;
        background-color: #0004;
    }
    :root {
        --gap: 2vw;
        --album-width: calc(calc(100vw - calc(var(--gap) * 3)) / 2);

        --two-wide-album-width: calc(var(--album-width) * 2 + var(--gap));
        --two-wide-aspect-ratio: 4/1;
    }

    .maree-basse {
        width: var(--two-wide-album-width) !important;
        aspect-ratio: var(--two-wide-aspect-ratio) !important;
    }

    .maree-basse .filter {
        width: var(--two-wide-album-width) !important;
        aspect-ratio: var(--two-wide-aspect-ratio) !important;
    }
}

html {
    background-color: #0a0a0a;
}

.container {
    gap: var(--gap);
    display: grid;
    padding: var(--gap);
    padding-top: 3rem;
}

.project-name h1 {
    font-size: 1.2rem;
}

.forProjectPage {
    width: var(--album-width);
}
