@import url(../../assets/css-assets/reset.css);

.vidéos {
    color: #E1A52F !important;
}

html {
    background-color: #0A0A0A;
    color: #F1E7D9;
    font-family: 'Teko', sans-serif;
}

.page-title {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #E1A52F;
    font-size: 9vw;
}

.vertical-flow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-flow .basic-text {
    width: 50vw;
}

.basic-text h2 {
    text-transform: uppercase;
    color: #FFE1A7;
    font-size: 2.5rem;
}

.basic-text p {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    text-align: justify;
}

.basic-text p span {
    color: #E1A52F;
}