@import url(../../assets/css-assets/reset.css);

.vidéos {
    color: #E1A52F !important;
}

html {
    background-color: #0A0A0A;
    color: #F1E7D9;
    font-family: 'Teko', sans-serif;
}

.page-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #E1A52F;
}

.vertical-flow {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.basic-text h2 {
    padding-top: 2rem;
    text-transform: uppercase;
    color: #FFE1A7;
    font-size: 2.5rem;
}

.basic-text p {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    text-align: justify;
}

.basic-text p span {
    color: #E1A52F;
}

.images {
    display: flex;
    gap: var(--gap-size);
}

.left-images {
    display: flex;
    flex-direction: column;
    width: var(--image-width-2);
    height: calc(var(--image-width-1) * 2);
    gap: var(--gap-size);
}

.left-images .one {
    width: 100%;
    height: 59.25%;
    background-image: url(./assets/evangelion.jpg);
    background-size: cover;
    background-position: 50%;
}

.left-images .two {
    width: 100%;
    height: 39.25%;
    background-image: url(./assets/control.jpg);
    background-size: cover;
}

.middle-images {
    width: var(--image-width-1);
    height: calc(var(--image-width-1) * 2);
    background-image: url(./assets/stairs.jpg);
    background-position: 35%;
}

.right-images {
    width: var(--image-width-1);
    height: calc(var(--image-width-1) * 2);
    background-position: 22% 0%;
    background-image: url(./assets/door.jpg);
}

.image {
    text-transform: uppercase;
    font-size: 5vw;
    border-radius: var(--borderRadius);
    color: #E1A52F;
    font-weight: 700;
    line-height: 80%;
}

.image .filter {
    border-radius: var(--borderRadius);
    width: 100%;
    height: 100%;
    background-color: #000d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.two.image .filter {
    background-color: #000a;
}

.image .filter:hover {
    text-decoration: none;
    color: #E1A52F;
    opacity: 1;
    cursor: pointer;
}

.recherches {
    display: flex;
    gap: var(--gap-size);
}

.recherches img { width: var(--image-width-2); border-radius: var(--borderRadius);}
.recherches .deux-trucs div { width: var(--image-width-2); border-radius: var(--borderRadius);}
.recherches .videos { width: var(--image-width-1); border-radius: var(--borderRadius); }

.recherches div {
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
}

.recherches .deux-trucs {
    position: relative;
}

.recherches div.deux-trucs div {
    width: var(--image-width-2);
    background-image: url(./assets/Visualizer1.gif);
    background-size: cover;
    background-position: 50% 50%;
    background-color: aqua;
}

.recherches .video-overlay {
    box-sizing: border-box;
    border: 0.1vw solid #444;
    position: absolute;
    width: var(--image-width-1);
    aspect-ratio: 9 / 16;
    background-image: url(./assets/recherche\ graphique3img.jpg);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recherches .video-overlay:hover {
    border: 0.1vw solid #888;
}

.recherches .video-overlay .play-pause-button {
    width: 6vw;
    height: 6vw;
    background-image: url(../../assets/images/icones/play\ 000.png);
    background-size: cover;
}

.recherches .video-overlay .play-pause-button:hover {
    background-image: url(../../assets/images/icones/play\ 444.png);
}

.recherches .video-overlay .mute-unmute-button {
    width: 3vw;
    height: 3vw;
    background-image: url(../../assets/images/icones/mute\ 000.png);
    background-size: cover;
    margin: 0.8vw;
    display: none;
}

.recherches .video-overlay .mute-unmute-button:hover {
    background-image: url(../../assets/images/icones/mute\ 444.png);
}

.mute-unmute-button.displayPlay.displayMute { background-image: url(../../assets/images/icones/volume\ 888.png); }
.mute-unmute-button.displayPlay.displayMute:hover { background-image: url(../../assets/images/icones/volume\ fff.png); }

.recherches .video-overlay .play-pause-button.displayPlay {
    background-image: url(../../assets/images/icones/pause\ 000.png);
    width: 3vw;
    height: 3vw;
    margin: 0.8vw;
}

.recherches .video-overlay .play-pause-button.displayPlay:hover { background-image: url(../../assets/images/icones/pause\ fff.png); }

.recherches .video-overlay .mute-unmute-button.displayPlay {
    display: block;
}

.recherches .video-overlay.displayPlay {
    align-items: flex-end;
    justify-content: space-between;
}

.youtube-visualizer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

iframe.youtube-visualizer {
    aspect-ratio: 16 / 9;
}

@media (max-width: 500px) {
    :root {
        --image-width-1 : 80vw;
        --image-width-2 : var(--image-width-1);
        --borderRadius : 2vw;
        --gap-size: 4vw;
    }
    iframe.youtube-visualizer { width: 100vw; border-radius: 0; }
    .vertical-flow .basic-text { width: 90vw; }
    .page-title { font-size: 10vw; padding-top: 3rem; }
    .images { flex-direction: column; }
    .recherches { flex-direction: column; }
    .recherches .deux-trucs div { height: 60vw; }
    .right-images { background-size: 320vw; }
}

@media (min-width: 501px) {
    :root {
        --image-width-1 : 20vw;
        --image-width-2 : 25vw;
        --borderRadius : 0.3vw;
        --gap-size: 1.5vw;
    }
    iframe.youtube-visualizer {
        width: calc(var(--image-width-1) + var(--image-width-1) + var(--image-width-2) + 1.5vw + 1.5vw);
        border-radius: var(--borderRadius);
    }
    .vertical-flow .basic-text { width: 50vw; }
    .page-title { font-size: 9vw; padding-top: 1.5rem; }
    .images { flex-direction: row; }
    .recherches { flex-direction: row; }
    .recherches .deux-trucs div { height: 100%; }
    .right-images { background-size: 77vw; }
}