@import url(../../assets/css-assets/reset.css);

@media (max-width: 500px) { 
    .filter { width: 100%; background-color: #0000; }
    :root { --album-height : 90vw; --album-width : 100vw; }
}

@media (min-width: 501px) {
    .filter { width: 50%; background-color: #0004; }
    :root { --album-height : 45vw; --album-width : 50vw; }
}

.headerDiv .dessins { color: #377d19 !important; }

html {
    background-color: #cccccc;
}

/* .html-background {
    background-image: url(./miniatures/marée\ basse\ flou.png);
    background-size: cover;
    background-position: 50% 50%;

    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
} */

.container { display: grid; }

.project-image {
    z-index: 2;
    width: var(--album-width);
    height: var(--album-height);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.project-name {
    z-index: 99;
    background-color: #0009;
    width: 100%;
    height: fit-content;

    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.07rem;
    font-size: 0.65rem;
    color: #e1d5c4;
}

.project-name h1 {
    padding: 0 2rem;
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
}

.filter {
    height: var(--album-height);
    
    position: absolute;
    transition: all 0s;
}

.filter:hover {
    transition: all 0.25s ease-in-out;
    background-color: #0000;

    cursor: pointer;
}

.maree-basse {
    margin-top: 8vw;
    width: 100vw;
    height: 20vw;
}

.maree-basse .filter {
    width: 100vw;
    height: 20vw;
}

#one { background-image: url(./miniatures/marée\ basse2.webp); }