@media (max-width: 500px) { /* On Smartphones */
    :root {
        --gap-between-projects: 4vw;
        --project-size: 100vw;
        --image-width: calc( var(--project-size) - var(--gap-between-projects) );
        --image-height: calc(40vw - var(--gap-between-projects) );
    }
}

@media (min-width: 501px) { /* On Desktop */
    :root {
        --gap-between-projects: 1.5vw;
        --half-gap-between-projects: calc( var(--gap-between-projects) / 2 );
        --project-size: calc(50vw - var(--half-gap-between-projects) );
        --image-width: calc( var(--project-size) - var(--gap-between-projects) );
        --image-height: calc(40vw - var(--gap-between-projects) );
    }
}