@import url(../assets/css-assets/reset.css);
@import url(../projets/pages-styles/videos.css);
@import url(../projets/pages-styles/beaux-arts.css);
@import url(../projets/pages-styles/photos.css);

html {
    background-color: #0A0A0A;
}

section.all-projects {
    display: grid;
    padding: 3rem 0;
    padding-left: var(--gap-between-projects);
}

@media (max-width : 500px) {
    :root {
        --gap-between-projects : 0vw;
        --project-size: 50vw;
        --image-width: var(--project-size);
        --project-image-font-size: calc(var(--image-width) / 4.8 );

        --album-width: var(--image-width);
    }

    section.all-projects {
        grid-template-columns: repeat(2 , auto);
    }

    .project.videos .project-second-image p.description {
        font-size: 4vw;
        color: #fff;
    }
}

@media (min-width : 501px) {
    :root {
        --gap-between-projects: 1vw;
        --project-size: calc( ( 100vw - var(--gap-between-projects)) / 3 );
        --image-width: calc( var(--project-size) - var(--gap-between-projects) );
        --project-image-font-size: calc(var(--image-width) / 4.8 );

        --album-width: var(--image-width);
    }

    section.all-projects {
        grid-template-columns: repeat(3 , auto);
    }
}