@import url(../../assets/css-assets/reset.css);

html {
    background-color: #0A0A0A;
}

.title {
    padding-top: 1rem;
    width: 100vw;
    color: #aa6220;
    font-family: 'Teko', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    --font-size: 13vw;
}

.title h1 {
    font-size: var(--font-size);
}

.title h2 {
    padding: 0 calc(var(--font-size) * 1/8);
    text-align: center;
    font-size: calc(var(--font-size) * 0.5);
    line-height: calc(var(--font-size) * 0.35);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    width: var(--youtube-embed-width);
    aspect-ratio: 16 / 9;
}

@media (max-width: 500px) {
    :root {
        --youtube-embed-width: 100vw;
    }
    .title {
        padding-top: 2rem;
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    :root {
        --youtube-embed-width: 70vw;
    }
}

@media (min-width: 701px) {
    :root {
        --youtube-embed-width: 50vw;
    }
}