@import url(../../assets/css-assets/reset.css);  
/* @import url(../videos/style-for-projects.css); */
@import url(../videos/project-responsive.css);

html {
    background-color: #000;
}

.videos {
    color: rgb(159, 19, 19) !important;
}

.grid {
    width: 100vw;
    display: grid;
    padding-top: 3rem;
}