@import url(../../assets/css-assets/reset.css);

body body {
    background-color: #fff;
}

.grid {
    background-color: #000;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
  }

.grid-item {
    width: 33.333333333333333vw;
    float: left;
}